<app-navbar></app-navbar>

        <img width="2000" class="img-fluid" src="../../../assets/img/Bannercontactos.png" alt="" />
        <div class="container my-3 centrado">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-4 bg-white">
                    <p class="h3">Sugerencias y Preguntas</p>
                    <br />
                    <form action="../contactoprincipal/contactoprincipal.component.html" method="post" >
                        <div class="mb-3">
                            <div class="ui-inputgroup">
                                <div><i class="pi pi-user"></i></div>
                                <input type="text" class="form-control" placeholder="Nombre Completo"
                                    aria-label="Username" aria-describedby="addon-wrapping" name="Nombre" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="ui-inputgroup">
                                <div><i class="pi pi-info"></i></div>
                                <input type="email" class="form-control" placeholder="Correo" aria-label="Username"
                                    aria-describedby="addon-wrapping" name="Correo" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="ui-inputgroup">
                                <div><i class="pi pi-comment"></i></div>
                                <textarea id="textarea_comp-kdf0oqtf" class="rEindN has-custom-focus form-control"
                                    placeholder="Escribe tu mensaje aquí... " required="" aria-required="true"
                                    aria-invalid="false" name="Mensaje" required></textarea>
                            </div>
                        </div>

                        <div class="mb-3 d-grid gap 2 ">
                            <a id="Enviar" class="btn btn-success" type="submit">Enviar</a>

                        </div>
                        <div class="mb-3 d-grid">
                            <input type="reset" class="btn btn-secondary" value="Borrar">
                        </div>
                        <input type="hidden" name="_next" value="http://localhost:4200/contactos">

                        <input type="hidden" name="_template" value="table">
                    </form>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 py-4 bg-white">
                    <p class="h2 centrado">Centro de Información</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="centrado">
                                    <p class="h4">Contacto</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="centrado">
                                    <p class="h6">(+593) 1700 700 700</p>
                                    <p class="h6">(+593) 400 7100</p>
                                    <br />
                                    <p class="h6">Gonzalo plaza Oe2-37</p>
                                    <p class="h6">y Av. 10 de Agosto</p>
                                    <br />
                                    <p class="h6">WWW.oralDentalSoft.com</p>
                                    <p class="h6">Quevedo - Ecuador</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--mapa-->
            <div>
                <p class="h1 text-center">Nos puede encontrar Aquí</p>
                <br />

                <div>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d498.6442937646643!2d-79.48000027021911!3d-1.045301071527398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902b51b3b7b2a9bf%3A0xb70ef005e0a61196!2sConsultorio%20Dental%20Care!5e0!3m2!1ses!2sec!4v1675550360895!5m2!1ses!2sec"
                        width="1100" height="400" class="border border-primary img-fluid" style="border:0;"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
        </div>
    <!--pie de pagina-->
    <app-piedepaginaprincipal></app-piedepaginaprincipal>