<form action="https://formsubmit.co/estevezeduardo1998@gmail.com" method="POST">
    <input type="text" name="name" required>
    <input type="email" name="email" required>
    <input type="submit" name="prueba" placeholder="ingrese algo aqui"/>
</form>

<form  target="_blank">

    <p>Usuario: <input type="text" name="usuario"></p>
  
    <p>Contraseña: <input type="password" name="pass"></p>
  
    <p><input action="https://formsubmit.co/estevezeduardo1998@gmail.com" method="POST" type="submit" value="Enviar datos"></p>
  
  </form>