<app-navbardentista></app-navbardentista>

<div class="margenes">
  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/bienvenidadentista"><i class="fa-sharp fa-solid fa-house"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">Enlistar historias clínicas</li>
    </ol>
  </nav>
  <div class="places blanquito ">
    <div class=" interno">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Paciente</th>
            <th scope="col">Fecha Visita</th>
            <th scope="col">Fecha Última Visita</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Eduardo Estévez</td>
            <td>07 May 2022</td>
            <td>01 Ene 2022</td>
            <td>
              <button class="btn btn-outline-success">Detalles</button>&nbsp;
              <button class="btn btn-outline-warning">&nbsp;&nbsp;Borrar&nbsp;</button>&nbsp;
              <button class="btn btn-outline-danger">&nbsp;&nbsp;Editar&nbsp;&nbsp;</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-piepagina></app-piepagina>
