<!--navbar-->
<app-navbar></app-navbar>
<!--contenido-->

        <img width="2000" class="img-fluid" src="../../../assets/img/bannerservicio.png" alt="" />
        <div class="margenes colortexto">
            <p class="h2 text-center">El servicio al cliente es nuestra pasión</p>

            <p class="text-center">
                El equipo de TopDental está compuesto por personas amigables y altamente capacitadas,
                todas impulsadas por la misma misión: brindarle la mejor experiencia dental posible.
                Todos en nuestra práctica, desde Jennifer y Maria en la oficina principal hasta nuestros
                dentistas, especialistas y asistentes, quieren brindarle el más alto nivel de atención
                dental de calidad.
            </p>

            <br />

            <p class="h3 text-center">Cotización de servicios de OralDental</p>
            <br />
            <div class="text-center justify-content-center marginado">
                <app-servicioitem *ngFor="let item of servicio" [item]="item" (deleteItem)="deleteItem($event)"
                    (toggleItem)="toggleItem($event)"></app-servicioitem>
                <br />
                <br />
                <app-serviciototal mensaje="Total por pagar: " [total]="total"></app-serviciototal>
                <br />
            </div>
        </div>
    <!--pie de pagina-->
    <app-piedepaginaprincipal></app-piedepaginaprincipal>