<section class="contenedor">
    <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
        <main class="form-signin w-100 m-auto blanquito">
            <div class="text-center">
                <img class="mb-4" src="../../../assets/img/OralDentalLogo.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal text-center"><strong>Inicio de sesión</strong> </h1>
            </div>
            <div class="form-floating">
                <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="nombre@correo.com" required>
                <label for="floatingInput">Correo Electronico</label>
            </div>

            <div class="form-floating">
                <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="contraseña" required>
                <label for="floatingPassword">Contraseña</label>
              </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="recuerdame"> Recuerdame
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-success text-center" type="submit">Iniciar
                Sesión</button>
            <br />
            <br />
            <button class="w-100 btn btn-lg btn-secondary text-center" type="submit">Volver a la pagina
                principal</button>
        </main>
    </form>
</section>