<app-navbar></app-navbar>


    <div class="contenido">
        <hr class="border border-primary border-3 opacity-70" />
        <img class="rounded mx-auto d-block img-fluid text-center" src="../../../assets/img/OralDentalLogo.png"
            alt="" />
        <div class=" p-2 row g-4 margenes colortexto">

            <hr class="border border-primary border-3 opacity-70" />
            <div class="col-md-6">
                <br />
                <p class="h5">Bienvenidos a nuestro consultorio médico en línea, donde su salud es nuestra prioridad.
                    Somos un equipo de
                    profesionales altamente capacitados y dedicados a brindarle un cuidado médico de calidad en un
                    ambiente
                    amigable y confortable. Ofrecemos una amplia gama de servicios médicos, desde chequeos regulares
                    hasta
                    tratamientos médicos especializados. Nos enorgullece brindar atención personalizada y comprometida a
                    cada
                    uno de nuestros pacientes. ¡Visítenos para experimentar la diferencia en la atención médica!</p>

                <p class="h6">Para obtener información sobre los contactos de clic al boton &nbsp;&nbsp;&nbsp; 
                    <a class="btn btn-info" routerLink="/contactos">Ir a contactos</a>
                </p>
            </div>
            <div class="col-md-6">
                <img width="500" height="300" class="rounded mx-auto d-block img-fluid border border-primary"
                    src="../../../assets/img/dentist-examining-female-patient-with-tools.jpg" alt="" />
            </div>
            <!--contenedor de la mision y visio junto a los valores-->
            <div class=" p-2 row g-4">
                <hr class="border border-primary border-3 opacity-70" />
                <br />
                <div class="col-md-6">
                    <p class="h2 text-center"><strong>Misión</strong></p>
                    <p class="text-center">Expresar una atención integral de salud a la comunidad y la formación
                        profesional
                        odontológica, sin distinciones,
                        para una vida abundante a través de un cuidado personal para la gloria de Dios y al servicio del
                        Ecuador.</p>
                </div>
                <div class="col-md-6">
                    <p class="h2 text-center"><strong>Visión</strong></p>
                    <p class="text-center">Ser la clinica de referencia a nivel nacional en la atención de salud dental
                        integral
                        y la excelencia en la educación
                        médica centrada en las personas que brinda experiencias, excepcionales.</p>
                </div>

                <hr class="border border-primary border-3 opacity-70" />
                <p class="h1 text-center"><strong>Valores</strong></p>
                <div class="col-md-6 text-center">
                    <img class="img-thumbnail border border-primary" src="../../../assets/img/integridad.jpg" alt="" />
                    <p class="h3"><strong>Integridad</strong></p>
                    <p>
                        Coherencia entre lo que pensamos, decimos y actuamos<br />
                        Guardamos coherencia entre lo que pensamos, decimos y actuamos.<br />
                        Nos manejamos con honestidad y transparencia en nuestras relaciones de trabajo internas y
                        externas,
                        transmitiendo una buena reputación en todos nuestros actos.
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="img-thumbnail border border-primary" src="../../../assets/img/servicio.jpg" alt="" />
                    <p class="h3"><strong>Servicio</strong></p>
                    <p>
                        Consideración, gran estima, respeto y la mejor atención<br />
                        Mantenemos una actitud permanente de servicio a todas las personas.<br />
                        Respondemos a las necesidades de nuestros clientes internos
                        y externos con gozo y humildad. Consideramos a todas las personas como creadas a la imagen y
                        semejanza
                        de Dios que merecen
                        consideración, gran estima, respeto y la mejor atención.
                    </p>

                </div>
                <div class="col-md-6 text-center">
                    <img class="img-thumbnail border border-primary" src="../../../assets/img/lealtad.jpg" alt="" />
                    <p class="h3"><strong>Lealtad</strong></p>
                    <p>
                        Cuidamos, preservamos y defendemos la imagen institucional. <br />
                        Estamos comprometidos con Dios, la Misión y el Hospital para cuidar, preservar y defender la
                        imagen
                        institucional y de
                        sus miembros. Guardamos la confidencialidad y reserva de la información de la Organización
                        (ideas,
                        decisiones, estrategias, procesos, actividades, etc.).
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="img-thumbnail border border-primary" src="../../../assets/img/innovacion.jpg" alt="" />
                    <p class="h3"><strong>Innovación</strong></p>
                    <p>
                        Mejoramos, creamos y agregamos valor.<br />
                        Promovemos constantemente la creación e implementación de nuevos servicios y mejora continua de
                        procesos
                        en respuesta a
                        las expectativas de nuestros clientes agregando valor y asegurando su fidelidad.
                    </p>

                </div>
                <div class="col-md-6 text-center">
                    <img class="img-thumbnail border border-primary"
                        src="../../../assets/img/responsabilidad-social.jpg" alt="" />
                    <p class="h3"><strong>Responsabilidad Social</strong></p>
                    <p>
                        Generando bienestar.<br />
                        Nuestro compromiso con una contribución transparente, ética, activa y voluntaria para el
                        mejoramiento de
                        la calidad
                        de vida de nuestros pacientes y sus familias, de nuestros colaboradores y nuestro entorno.
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="img-thumbnail border border-primary" src="../../../assets/img/mayordomia.jpg" alt="" />
                    <p class="h3"><strong>Mayordomia</strong></p>
                    <p>
                        Responsabilidad, buen uso de los recursos y honestidad en todo lo que hacemos.<br />
                        Somos buenos mayordomos de lo que Dios ha puesto en nuestras manos.<br />
                        Manejamos con responsabilidad, eficiencia y honestidad todos los recursos bajo nuestro cuidado
                        procurando el máximo
                        beneficio para nuestros pacientes.
                    </p>
                </div>
            </div>

            <!--contenedor de los consejos sitios web y articulos -->
            <hr class="border border-primary border-3 opacity-70" />
            <div class=" p-2 row g-4">
                <p class="h1 text-center">Sitios web y Articulos</p>
                <div class="col-md-6 text-center">
                    <p>Diez Consejos Para Mantener Una Buena Higiene Bucal En Sus Hijos</p>
                    <a class="btn btn-info" target="_blank"
                        href="https://www.colgate.com/es-ec/kids/for-parents/10-tips-para-incentivar-sus-hijos-a-mantener-higiene-bucal">Ir
                        al enlace</a>
                </div>
                <div class="col-md-6 text-center">
                    <p>Articulo sobre el estado de la salud en Ecuador</p>
                    <a class="btn btn-info" target="_blank"
                        href="https://revistasinvestigacion.unmsm.edu.pe/index.php/odont/article/download/18133/15169/63195">Ir
                        al enlace</a>
                    <br />
                </div>
                <hr class="border border-primary border-3 opacity-70" />
                <br />
                <p class="h1 text-center">Videos de Consejos Dentales</p>
                <div class="col-md-6 text-center">
                    <iframe class="img-fluid border border-primary" width="560" height="315"
                        src="https://www.youtube.com/embed/PWubgAzrnTg" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>El Dr. Federico Baena nos 5 tips para combatir la sensibilidad dental</p>
                </div>
                <div class="col-md-6 text-center">
                    <iframe class="img-fluid border border-primary" width="560" height="315"
                        src="https://www.youtube.com/embed/F20LjQqBtkc" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>El canal Dentalk! nos brinda una animacion 3D de como cepillarse los dientes</p>
                </div>
                <div class="col-md-6 text-center">
                    <iframe class="img-fluid border border-primary" width="560" height="315"
                        src="https://www.youtube.com/embed/fibGPW46WkQ" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>El Dr. Alex nos da consejos de como tener dientes sanos</p>
                </div>
                <div class="col-md-6 text-center">
                    <iframe class="img-fluid border border-primary" width="560" height="315"
                        src="https://www.youtube.com/embed/bZKtrCxe04A" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>La Dra. Minerva Felipe nos cuenta como saber si necesitamos Brackets</p>
                </div>
                <div class="col-md-6 text-center">
                    <iframe class="img-fluid border border-primary" width="560" height="315"
                        src="https://www.youtube.com/embed/ROjsTvJy3kw" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>El Dr. Alex nos aconseja de porque es malo fumar</p>
                </div>
                <div class="col-md-6 text-center">
                    <iframe class="img-fluid border border-primary" width="560" height="315"
                        src="https://www.youtube.com/embed/DVNrFSfJUnk" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>El Dr. Alex nos da 3 razones para visitar a tu dentista</p>
                </div>
                <br />
                <br />
            </div>
        </div>
        <hr class="border border-primary border-3 opacity-70" />
        <img width="2000" class="img-fluid" src="../../../assets/img/bannerfondo.png" alt="" />
        <hr class="border border-primary border-3 opacity-70" />
    </div>
    <app-piedepaginaprincipal></app-piedepaginaprincipal>